@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Ubuntu:wght@300;400;500;700&display=swap");

#root {
  max-width: 1280px;
  margin: auto;
  padding: 3rem;

  text-align: center;
}

.Button {
  padding: 10px;

  font-family: "Imbue", serif;
}


.Typography {
  font-family: "Mate", serif;
  color: rgb(231, 227, 222);
  
}


span {
  font-size: 25px;
  padding: 2px;
  margin: 0px;
  display: inline-block;
  margin-right: 30px;

  font-family: "Imbue", serif;
}

body {
  background-color: rgb(32, 32, 31);
  margin: 0;
  padding: 0;
}
h1,
h3,
h4,
h5,
h6,
h7 {
  font-family: "Imbue", serif;
  margin: 1em 0 0.5em;
  font-size: large;
  line-height: 1.2em;
}


,
h2 {
  font-family: "Imbue", serif;
  font-size: 30px;
}

.Card {
  padding-top: 60px;
  padding-left: 5px;
  padding-right: 5px;
  max-width: 400px;
  height: 100%;
}
.Cardcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}


.icons-footer {
  display: flex;
  justify-content: space-around;
  font: 40;
  width: 300px;
  height: 30px;
  margin: auto;
}

.footer{
  background-color:#a5897a;
}

.Toolbar-appbar{
  
}

.logo {
  font-family: "Monoton", cursive;
  color: #fff;
  font-size: 10rem;
}
.p{
  color: white;
}